# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Tests
__tests__
coverage

# Config files
.eslintrc.js
.prettierrc
.commitlintrc.js
tsconfig.json
